os: osx
language: objective-c
before_install:
  - brew tap light4/gcc_cross_compilers
env:
  - ARCH=x86_64
  - ARCH=arm
  - ARCH=i586
script:
  - travis_wait 40 sh test.sh
branches:
  only:
    - master
notifications:
  email: false
